alko/modules/webservice/src/main/resources/agriAktsiisiladu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="emta"
                  targetNamespace="http://producers.emta.xtee.riik.ee/producer/emta"
                  xmlns:tns="http://producers.emta.xtee.riik.ee/producer/emta"
                  xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://producers.emta.xtee.riik.ee/producer/emta"
                    xmlns="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://x-tee.riik.ee/xsd/xtee.xsd"
                        schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>

            <!-- == DATA TYPES == -->
            <xsd:complexType name="agriAktsiisiladu_paring">
                <xsd:all>
                    <xsd:element name="regnr" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xtee:title>Registrinumber</xtee:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="agriAktsiisiladu_vastus">
                <xsd:all>
                    <xsd:element name="kokku" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xtee:title>Tulemus</xtee:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="aktsiisilaod" nillable="true">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xtee:title>Aktsiisilaod</xtee:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:complexContent>
                                <xsd:restriction base="SOAP-ENC:Array">
                                    <xsd:sequence>
                                        <xsd:element name="item" minOccurs="0" maxOccurs="unbounded"
                                                     type="tns:aktsiisiladu"/>
                                    </xsd:sequence>
                                </xsd:restriction>
                            </xsd:complexContent>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="aktsiisiladu">
                <xsd:all>
                    <xsd:element name="luba" type="xsd:string" nillable="true">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xtee:title>Tegevusloa number</xtee:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kehtibAlates" type="xsd:date" nillable="true">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xtee:title>Kehtivuse algus</xtee:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kehtibKuni" type="xsd:date" nillable="true">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <xtee:title>Kehtivuse lõpp</xtee:title>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <!-- == PORTS == -->
    <wsdl:portType name="emtaport">
        <wsdl:operation name="agriAktsiisiladu">
            <wsdl:documentation>
                <xtee:title>Aktsiisiladude lubade kontroll (AGRI v.1)</xtee:title>
            </wsdl:documentation>
            <wsdl:input message="tns:agriAktsiisiladu"/>
            <wsdl:output message="tns:agriAktsiisiladuResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- == BINDINGS == -->
    <wsdl:binding name="emtabind" type="tns:emtaport">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="agriAktsiisiladu">
            <xtee:version>v1</xtee:version>
            <soap:operation soapAction="http://producers.emta.xtee.riik.ee/producer/emta/agriAktsiisiladu"/>
            <wsdl:input>
                <soap:header message="tns:standardpais" part="asutus" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="andmekogu" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="isikukood" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="id" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="nimi" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="toimik" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:body use="encoded" namespace="http://producers.emta.xtee.riik.ee/producer/emta"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:standardpais" part="asutus" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="andmekogu" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="isikukood" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="id" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="nimi" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:header message="tns:standardpais" part="toimik" use="encoded"
                             encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                             namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
                <soap:body use="encoded" namespace="http://producers.emta.xtee.riik.ee/producer/emta"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- == MESSAGES == -->
    <wsdl:message name="agriAktsiisiladu">
        <wsdl:part name="keha" type="tns:agriAktsiisiladu_paring"/>
	    <part name="andmekogu" element="xtee:andmekogu"/>
	    <part name="asutus" element="xtee:asutus"/>
	    <part name="isikukood" element="xtee:isikukood"/>
	    <part name="id" element="xtee:id"/>
	    <part name="nimi" element="xtee:nimi"/>
	    <part name="toimik" element="xtee:toimik"/>
    </wsdl:message>
    <wsdl:message name="agriAktsiisiladuResponse">
        <wsdl:part name="paring" type="tns:agriAktsiisiladu_paring"/>
        <wsdl:part name="keha" type="tns:agriAktsiisiladu_vastus"/>
	    <part name="andmekogu" element="xtee:andmekogu"/>
	    <part name="asutus" element="xtee:asutus"/>
	    <part name="isikukood" element="xtee:isikukood"/>
	    <part name="id" element="xtee:id"/>
	    <part name="nimi" element="xtee:nimi"/>
	    <part name="toimik" element="xtee:toimik"/>
    </wsdl:message>

    <wsdl:message name="standardpais">
        <wsdl:part name="asutus" element="xtee:asutus"/>
        <wsdl:part name="andmekogu" element="xtee:andmekogu"/>
        <wsdl:part name="isikukood" element="xtee:isikukood"/>
        <wsdl:part name="id" element="xtee:id"/>
        <wsdl:part name="nimi" element="xtee:nimi"/>
        <wsdl:part name="toimik" element="xtee:toimik"/>
    </wsdl:message>

    <!-- == SERVICES == -->
    <wsdl:service name="emtaxtee">
        <wsdl:port name="emtaxtee" binding="tns:emtabind">
            <soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
            <xtee:title>Maksu- ja Tolliameti X-tee teenused</xtee:title>
            <xtee:address producer="emta"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
